.product-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;

    &__carousel {
        max-width: 100%;
        overflow: hidden;
    }


    h2 {
        text-align: center;
        color: #333;
    }

    &__input {
        width: 100%;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 5px;
        font-size: 16px;
    }

    &__image-uploader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__button {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
    }
}